.background-dark {
  background-color: #232020;
}

.app {
  gap: 20px;
  display: flex;
  text-align: center;
  margin-top: 0.8rem;
}

.content {
  display: flex;
  flex-flow: wrap;
  gap: 40px;
  padding-top: 40px;
}

.clock,
.empty {
  width: 240px;
  height: 240px;
}

.empty-compact {
  display: none;
}

.clock {
  box-shadow: 6px 7px 13px 0px rgba(50, 50, 50, 0.75);
}

.mini-clock {
  width: 90px;
  height: 90px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 6px 7px 13px 0px rgba(50, 50, 50, 0.75);
}

.mini-clock:first-child {
  margin-top: 0;
}

.clock-toggle {
  position: relative;
}

.clock-toggle-disabled {
  filter: blur(1px);
}

.disabled-clock {
  position: absolute;
  width: 90px;
  height: 90px;
  margin: 20px;
  top: -20px;
  left: 0;
  cursor: pointer;
}

.mini-clock:not(:last-child) {
  box-shadow: none;
}

@font-face {
  font-family: "Digital7";
  src: url("digital-7 (mono).ttf") format("truetype");
}
