#app-content .content:first-child {
  padding-left: 40px;
}

#drawer,
#drawer.drawer-open,
#app-content.drawer-open {
  box-sizing: border-box;
  /* adds animation for all transitions */
  transition: 0.25s ease-in-out;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  /* adds animation for all transitions */
  transition: 0.25s ease-in-out;
  margin: 0;
  padding: 0;
}

path {
  transition: unset;
}

#drawer {
  position: fixed;
  top: 0;
  left: -310px;
  height: 100%;
  width: 310px;
  background: #181c20;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  border-right: rgb(8, 86, 86) solid thin;
}

#drawer.drawer-open {
  left: 0px;
}

#app-content.drawer-open {
  margin-left: 310px;
}

#drawer > div:first-child {
  left: -310px;
}

#drawer.drawer-open > div:first-child {
  left: 10px;
}
