i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 0 0 0;
  width: 1.18em;
  height: 1em;
  font-size: 1.6em;
  font-family: Icons;
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  text-align: center;
  backface-visibility: hidden;
}

i.icon::before {
  background: 0 0 !important;
}

i.icon.angle.left::before {
  content: "«";
}

i.icon.angle.right::before {
  content: "»";
}

.sidebar-handle > i.icon {
  margin-left: 26px;
  margin-top: 13px;
}

.sidebar-handle {
  position: fixed;
  top: calc(50% - 30px);
  left: -30px;
  height: 60px;
  width: 60px;

  border-radius: 50% 50% 50% 50%;
  background-color: rgb(241, 233, 233);
  border: thin solid rgb(156, 148, 148);

  text-align: center;
  vertical-align: middle;
  display: flex;

  z-index: 2;
}

.sidebar-handle {
  transition: all 0.3s linear;
}

.sidebar-handle.hide {
  left: -62px;
}
